body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.menu {
    margin: 0;
}

.menu dt {
    font-weight: bold;
    font-size: 24px;
    color: #404040;
    background-color: rgba(204,255,204,0.7);
    padding: 15px;   
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}


.menu dd {
    margin-bottom: 8px;
    color: #404040;
    background-color:rgba(204, 255, 204, 0.5);
}

.menu a {
	font-size:10px;
    display: block;
    border:solid 1px #c0c0c0;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu a:last-child {
    border-bottom: none;
}