@charset "UTF-8";
/* body { */
/*     font-family: Arial, sans-serif; */
/*     background-color: #f0f0f0; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

/* form { */
/*     width: 50%; */
/*     margin: 50px auto; */
/*     padding: 20px; */
/*     background-color: #fff; */
/*     border-radius: 5px; */
/*     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* } */

#admin_query_jsp_input {
	width:150px;
    background-color: rgb(192, 192, 192);
    color: white;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#admin_query_jsp_input {
    width: 500px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#admin_query_jsp_input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}
