/* 【搜索框】 */
.search_kuang{
    position: relative;
    height: 60px;
}
.search{
    margin: 20px auto 0;
    width: 500px;
    height: 45px;
    border: 2px solid #f53c66;
}
.search .text{
    width: 400px;
    height: 37px;
    border: none;
    padding: 4px 10px 0;
    outline: none;
}
.search button{
    float: right;
    border: none;
    width: 80px;
    height: 100%;
    background-color: #f53c3c;
    cursor: pointer;
}



/* 【轮播图】模块 **************************/
.shop{
    display: block;
    margin: 10px auto 0px;
    width: 1200px;
}

.picture{
  	margin: 0 auto;
	display: block;
    margin: 0px auto;
    padding-top: 0px;
    width: 888px;
    border: 1px solid #0a3b86;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.picture-area{
	display: flex;
    float:left;
    position: relative;
}
.picture img{
	width: 888px;
}


#item{
	width: 100%;
	height: 100%;
	
}
.item{
	position: absolute;
/* 	opacity: 0; */
	transition: all 2s;
	list-style-type: none;
}

.item .active{
	opacity:1;
}

#btn-left{
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left:5px;
	z-index: 999;
	position: absolute;
	left: 0px;
	top: 225px;
	cursor: pointer;
	opacity: 0;
}
.picture:hover #btn-left{
	opacity: 1;
}

#btn-right{
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0px;
	top: 225px;
	cursor: pointer;
	opacity: 0;
}
.picture:hover #btn-right{
	opacity: 1;
}
#circle{
	height: 20px;
	display: flex;
	position: absolute;
	top: 470px;
	right: 5px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	cursor: pointer;
	margin: 5px;
	list-style-type: none;
}


.white{
	background-color: #FFFFFF;
}











/* 【本站游戏】模块 ***************************************/
.box_tit{
    width: 1200px;
    height: 940px;
    background-color: #f5f5f5;
    margin-top: 50px;
}
.title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #363535;
    border-bottom: 2px solid #3d3d3d;
}
.content_pohot{
    display: block;
    padding-left: 90px;
    margin-top: 30px;
}
.game_tu{
    display: block;
    float: left;
    width: 450px;
    height: 330px;
    padding-top: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.game_tu .ph{
    text-align: center;
    padding-left: 10px;
}
.game_tu .ph img{
	max-height:250px;
	width: 400px;
}
.game_tu .na{
    display: block;
    font-size: 16px;
    color: #000000;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 190px;
    margin: 8px auto 0;
    overflow: hidden;
}
.game_tu p{
    text-align: center;
    color: #fd8f00;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

