/****************<!--搜索框-->***************/
.search-bar {
    position: relative;
    height: 60px;
    margin: 20px auto 0;
    width: 500px;
    height: 45px;
    border: 2px solid #f53c66;
}
.search-bar .text{
    width: 400px;
    height: 37px;
    border: none;
    padding: 4px 10px 0;
    outline: none;
}
.search-bar button{
    float: right;
    border: none;
    width: 80px;
    height: 100%;
    background-color: #f53c3c;
    cursor: pointer;
}


/**********<!-- shop（商品栏） -->***********/
.shop{
    display: block;
    margin: 10px auto 0px;
    width: 1200px;
}


/**********<!-- 轮播图 -->*****************/


.picture{
  	margin: 0 auto;
	display: block;
    margin: 0px auto;
    padding-top: 0px;
    width: 888px;
    border: 1px solid #0a3b86;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.picture-area{
	display: flex;
    float:left;
    position: relative;
}
.picture img{
	width: 888px;
}
#item{
	width: 100%;
	height: 100%;
}
.item{
	position: absolute;
	opacity: 0;
	transition: all 2s;
	list-style-type: none;
}
.active{
	opacity:1 !important;	/*规避第一张图片无法加载的bug */
}
#btn-left{
	user-select: none;
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left:5px;
	z-index: 999;
	position: absolute;
	left: 0px;
	top: 225px;
	cursor: pointer;
	opacity: 0;
}
.picture:hover #btn-left{
	opacity: 1;
}

#btn-right{
	user-select: none;
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0px;
	top: 225px;
	cursor: pointer;
	opacity: 0;
}
.picture:hover #btn-right{
	opacity: 1;
}
#circle{
	height: 20px;
	display: flex;
	position: absolute;
	top: 470px;
	right: 5px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	cursor: pointer;
	margin: 5px;
	list-style-type: none;
}
.white{
	background-color: #FFFFFF;
}











/************************<!-- 游戏一览 -->*********************/
.game-box{
    width: 1200px;
    height: 940px;
    background-color: #f5f5f5;
    margin-top: 50px;
}
.game-box .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #363535;
    border-bottom: 2px solid #3d3d3d;
}

.game-box .game-gallery{
    display: block;
    padding-left: 10px;
    margin-top: 30px;
}

.game-item{
    display: block;
    float: left;
    width: 450px;
    height: 330px;
    padding-top: 50px;
    margin-left: 95px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.game-item a{
	display:block;
    text-align: center;
}
.game-item img{
/* 	max-height:250px; */
	width: 400px;
}
.game-item figcaption{
    display: block;
    font-size: 16px;
    color: #000000;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 190px;
    margin: 8px auto 0;
    overflow: hidden;
}