*{
	margin: 0;
	padding: 0;
}
.clears{
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.ulogin{
	color: #FFFFFF;
}
.ulogin p{
  	white-space: nowrap;/*保持文本在一行显示 */
  	overflow: hidden; /* 隐藏溢出的文本 */
 	text-overflow: ellipsis;/* 文本溢出显示省略号 */
}
