*{
	margin: 0;
	padding: 0;
}
.clears{
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}

.error{
	text-align: center;
}
.errorImg{
	width:600px;
	margin: 0 auto;
}
.errorMsg{
	color:red;
	font-family:宋体;
	font-size:50px;
	font-weight:bold;
}