*{
	margin: 0;
	padding: 0;
}
.clears{
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.ulogin{
	color: #FFFFFF;
}
.ulogin p{
  	white-space: nowrap;/*保持文本在一行显示 */
  	overflow: hidden; /* 隐藏溢出的文本 */
 	text-overflow: ellipsis;/* 文本溢出显示省略号 */
}


/**********************弹窗***************/
#dialog {
        	display: none;
        	position: fixed;
            z-index: 1;
            left: 50%; /* 水平居中 */
		    top: 80%; /* 垂直方向上，从顶部开始计算，偏下 */
		    transform: translate(-50%, -50%); /* 水平向左移动自身宽度的50%，垂直向下移动自身高度的50% */
            background-color: #000000;
            margin: 10px 10px; 
            padding: 5px;
		    background-color: rgba(0, 0, 0, 0.8); /* 背景颜色调整为半透明黑色 */
		    border: none; /* 移除边框 */
		    border-radius: 5px; /* 添加圆角边框 */
		    text-align: center; /* 文字居中 */
            background-color: rgba(0,0,0,0.4);
            animation: fadeOut 1s 1s forwards;
        }
        
        #dialog p{
        	user-select: none;
            height:auto;
            width: auto;
            color: #ffffff; /* 文字颜色改为白色 */
		    font-family: 'Arial', sans-serif; /* 字体改为Arial或无衬线字体 */
		    font-size: 12px; /* 字体大小调整为16px */
		    font-weight: normal; /* 字体粗细调整为正常 */
		    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 添加文字阴影 */
		    line-height: 1.5; /* 行高调整 */ 
        }

        /* 添加渐隐动画 */
        @keyframes fadeOut {
            from {opacity: 1;}
            to {opacity: 0;}
        }
