<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <title>Study</title>
        <link rel="stylesheet" ></link>
        <script >
            // 【var 和 let】
            /*
            {
                var a = 0   // 全局作用域
                let b = 0   // 局部作用域
            }
            console.log(a);
            console.log(b);
            */

            // 【解构赋值】
            /*
            let arr = [1,2,3,4,5,6,7,8,9,10];
            let [a,b,c,d,f] = arr;
            let [,,,,,,,,e] = arr;
            console.log(a,b,c,e);
            let user = {
                name:'zhangsan',
                age:18,
                sex:'男'
            }
            let {name,age2} = user;
            console.log(name,age2);
            */

            // 【声明对象简写】
            let name1 = 'zhangsan';
            let age1 = 18;
            let sex1 = '男';
            var user1 = {
                name1:name1,
                age1:age1,
                sex1:sex1
            }
            let user2 = {
                name1,age1,sex1     // 简写，免去键值对的写法，直接写键名即可
            }
            console.log(user1);
            console.log(user2);

            // 【定义方法简写】
            const p1 = {
                sayHi:function(){
                    console.log('hi');
                },
            }
            p1.sayHi();
            const p2 = {
                sayHi(){
                    console.log('hi');
                }
            }
            p2.sayHi();


            // 【拷贝对象】
            let person = {name:"jim", age:20}
            // 不使用展开运算符的拷贝：
            let someone1 = person
            let someone = {...person}   // 拷贝对象,ES6的展开运算符
            console.log(someone);


            // 【箭头函数】
            var f1 = function(a){
                return a;
            }
            let f2 = (a) => a;
            let f3 = a => a;
            let f4 = () => 'f4';
            let f5 = (a,b) => {
                let c = a+b;
                return c;
            }
            let f6 = (a,b) => a+b;
            console.log(f1('es5的函数')); 
            console.log(f2('es6的箭头函数'));
            console.log(f3('es6的箭头函数2'));
            console.log(f4());
            console.log(f5(1,2));
            console.log(f6(3,4));
            
        </script>

    </head>

    <body>
        <div class="container">
            <div class="header">

            </div>
        </div>





    </body>









</html>




